 *{
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#background{
  background-color: rgb(31, 58, 81);;
}

/* container */
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 250px;
  width: 1000px;
  margin-top: 270px;
  border-radius: 4px;
  background-color: rgb(217, 234, 223);
  align-items: center;
}

.button1{
  padding: 10px;
  background: rgb(30, 209, 185);
}
.button1:hover{
  background-color: #58d2a3;
}

/* margin */
h1,
.button1,
.input-2,
.input-1{
 margin-top: 10px;
 border: none;
}

/* border edith */
.outline{
  border-style: none;
}
.input-1,
.input-2{
  padding-left: 10px;
}

.input-2,
.button1,
.input-1{
  flex-direction: column;
  width: 977px;
  border-radius: 4px;
}

.input-2,
.input-1{
  height: 40px;
}